@model IEnumerable<sandbox.Models.Poland>

@{
    Layout = null;
}
@*@{
            if (Request.Browser.IsMobileDevice)
            {
                Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
            }
            else
            {
                Layout = "~/Views/Shared/_Layout.cshtml";
            }
    }*@
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Review">
<head>
    <meta name="viewport" content="width=device-width" />
    @*  <meta property="og:title" content="Another West -- Poland from Japanese eyes, living in U.S." />
        <meta property="og:description" content="A Japanese Chopin fan, traveled alone to Warsaw for the first time" />
        <meta name="description" content="A Japanese Chopin fan, traveled alone to Warsaw for the first time" />
    *@
    <link href="/Content/Poland_Mobile.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/ico" href="/Content/Poland/favicon.ico">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <link href="/Content/themes/base/jquery.ui.slider.css" rel="stylesheet" />

    <link rel="image_src" href="http://riot.jp/Content/images/poland/marmaid.jpg" />
    <meta itemprop="name" content="Another West -- Poland for Japanese, living in U.S">
    <meta itemprop="description" content="Solo trip to Poland, for the 1st time in Summer 2014">
    <meta itemprop="image" content="http://riot.jp/Content/images/poland/marmaid.jpg">
    <title>Another West -- Poland for Japanese, living in U.S.</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        $(function () {

            $('a[id^="dateClick"]').click(function () {
                var num = $(this).attr("id");
                var lastChar = num[num.length - 1];
                var checked = $('#lang-on').prop("checked");
                if (checked) {
                    $(this).attr("href", "#po" + lastChar + "j");
                }
                else {
                    $(this).attr("href", "#po" + lastChar);
                }

            });
        });
    </script>
    <script async>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

</head>
<body>
    <div id="header">
        <div class="slideButton">
            <input type="radio" id="lang-on" value="jp" name="lang" /><label for="lang-on"><img src="/Content/images/poland/jp16.jpg" alt="JP" /></label>
            <input type="radio" id="lang-off" value="en" name="lang" checked/><label for="lang-off"><img src="/Content/images/poland/us16.jpg" alt="EN" /></label>
        </div>
    </div>

    <div id="title">"Another West": Solo trip to Poland, for the 1st time in Summer 2014</div>
    <div id="carpet">
        @foreach (var item in Model)
        {
            <div class="dropDiv" style="background: @item.Color">
                <span class="date">
                    <a href="" id="dateClick@(item.ID)">@item.Date</a>
                </span>
            </div>
        }
        <p id="footer">
            Music: Mazurka #67-4 and #33-2 by Fryderyk Chopin; Image/Video taken Żelazowa Wola, Chopin's birth place;
            <br />
            Piano learner:
            <script async type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "hzMXcK8XmS@9kKXR.HSk"
              key = "DazBNwGhbo0LIgc58pdrPKAleYJxTSiCj9HF13mUvVyRu2qWtfX7MZE6sOk4nQ"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>Kickno</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript> the webmaster
            <br />
            <a href="https://plus.google.com/share?url=riot.jp/poland" onclick="javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+" />
            </a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://riot.jp/poland" data-via="kickno" data-hashtags="WarsawSightSeeing">Tweet</a>
            <script async>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            &nbsp; This webpage template is free to use. Will be available at Github soon.
        </p>

    </div>
    @foreach (var item in Model)
    {
        <a href="#x" class="overlay" id="po@(item.ID)"></a>
        <div class="popup">
            <div class="popupInner">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Poland/m_" + @item.ID + ".html")))
                <a class="close" href="#close"></a>
            </div>
        </div>
        <a href="#x" class="overlay" id="po@(item.ID)j"></a>
        <div class="popup">
            <div class="popupInner">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Poland/m_" + @item.ID + "j.html")))
                <a class="close" href="#close"></a>
            </div>
        </div>
    }
</body>
</html>


